/*
Theme Name:     Savoy-child
Theme URI:      
Description:    Savoy child theme.
Author:         Me
Author URI:     
Template:       savoy
Version:        0.1.0
*/
@media all and (max-width: 991px) {
    #nm-shop-categories {
        display: block;
        opacity: 100;
    }
    #nm-shop-filter-menu {
        display: none;
    }
}
.custom-html-widget a {
    margin-right: 1rem;
}